:root {
  --bg-black: #070D0D;

  --primary: #60005D;
  --primary-light: #A3009B;
  --secondary: #00a7cc;
  --secondary-light: #00FFD8;

  --grey: #3C3C3C;

  --notification-black: #20202033;
  --notification-grey: #20202077;
}

html, body { margin: 0; padding: 0; width: 100%; }
h1, h2, h3, h4, h5, h6, p { margin: 0; }